<section class="single">
	<article>
		
		{{ page_1col_replicator }}

			{{ if type == "table_set" }}

				<div class="table-minimal">
					{{ inline_table|table }}
				</div>

			{{ elseif type == "content_set" }}

				<div class="text">
				  {{ text|markdown }}
				</div>

			{{ elseif type == "headline_set" }}

				<h2>{{ headline }}</h2>

			{{ elseif type == "quote_set" }}

				<setquote>{{ quote }}</setquote>
				<p>&mdash; {{ cite }}</p>

			{{ elseif type == "resume_set"}}  

			<h3>{{ job }}</h3>
			<p><em>{{ time }}</em></p>
			<p><strong>{{ employer }}</strong></p>
			<p>{{ description }}</p>


			{{ elseif type == "image_set" }}

			<figure>
				<img src="{{ photo }}" alt="{{ caption }}" />
				<figcaption>{{ caption }}</figcaption>
			</figure>

			{{ elseif type == "video_set" }}
				<div class="video">
					{{ video }}
				</div>
			
			{{ endif }}

		{{ /page_1col_replicator }}

	</article>
</section>